.card-container{
    display: flex;
    flex-direction:row;
    max-width: 350px;
    min-width: 300px;
    margin: 0 auto;
    margin-top:200px;
    border: 2px solid #317199;
    border-radius:4px;
    height: 150px;
}

.card-members-photo{
    border-radius: 50%;
    margin-top:8px;
}
.card-flex-element{
    
    margin-left:20px;
}
.card-member-info{
    color:#317199;
   
}
.card-container2{

    display: flex;
    flex-direction: column;
    line-height: 0px;
    align-self: center;
}
.card-flex-element2{
    text-align: center;
}
div.hr {
    background: #fff  no-repeat scroll center;
    width:10em;
    height:0em;
}
.card-links{
    margin-top:5px;
}
.card-leaf{
    width:30px;
    position: absolute;
    margin-top:-30px;
    margin-left:10px;
}