@import url('https://fonts.googleapis.com/css?family=Lato');

body{ margin: 0;
    padding: 0;
    background-image: url("../img/background.png");
    background-size:cover ;
}
p, h1{
    font-family: 'Lato', sans-serif;
}
P{
    font-size:2.5vh !important;;
}
h2{
    font-family: 'Lato', sans-serif;
    color: #28639b;
}

.flex-container1{
    display: flex;
    flex-direction: row;
    margin-top:7% !important;
    position: relative;
    margin:0 8% 0 6%;
}

.heading-wrapper {
    top: -2%;
    flex-grow: 2;
}

.logo-wrapper {
    margin-right: 50px !important;
    margin-top: 30px !important;
}

.flex-element{
    margin: 0 10px;
}

.main-heading{
    font-family: 'Lato', sans-serif;
    color: #28639b;
    font-size: 4vw;
}

.about-sb{
    font-size:2.5vh !important;;
    width:75%;
}

#join-button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid black;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:black;
    text-decoration: none;
    position: absolute;
    padding:1vw;
    margin-top:120px;
    margin-left:10px;
    padding: 1vw 3vw 1vw 3vw;
}

#join-button:hover{
    background-color:#28639b;
    transition: 0.3s;
    background-repeat:no-repeat;
    border: 1px solid black;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:white;
    text-decoration: none;
    position: absolute;
    padding:1vw;
    margin-top:120px;
    margin-left:10px;
    padding: 1vw 3vw 1vw 3vw;
}

.flex-container2{
    display: flex;
    flex-direction: row;
    position: relative;
    margin:0 4% 0 6%;
}

.about-sb-sec2{
    width:70%;
    font-size:2.5vh !important;;
}

.about-sb-2-wrapping{
    top: -2%;
    flex-grow: 4;
}

#read-more{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid black;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:black;
    text-decoration: none;
    padding:1vw;
    margin-left:57%;
    margin-top:10%;
    padding: 1vw 3vw 1vw 3vw;
}

#read-more:hover{
    background-color:#28639b;
    transition: 0.3s;
    background-repeat:no-repeat;
    border: 1px solid black;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:white;
    text-decoration: none;
    padding:1vw;
    margin-left:57%;
    margin-top:10%;
    padding: 1vw 3vw 1vw 3vw;
}

#org-structure{
    text-align: center;
    color: #28639b;
    font-size:2.5vw;
}

.paravoz{
    width:50vw;
    display: inline-block;
}

.flex-container3{
    margin-top:10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.child {
    height: 300px;
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.circle-ava{
    width:100px;
}

.under-heading{
    text-align: center;
    width:50%;
}

#org-history{
    color: #28639b;
    font-size: 2.5vw;
    margin-left: 8%;
}
.org-history-desc{
    display: inline-block;
    position: relative;
    width:50%;
    margin-left: 8%;
}
#read-more2{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid black;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:black;
    text-decoration: none;
    padding:1vw;
    margin-left:15%;

    padding: 1vw 3vw 1vw 3vw;
}

#read-more2:hover{
    background-color:#28639b;
    transition: 0.3s;
    background-repeat:no-repeat;
    border: 1px solid black;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:white;
    text-decoration: none;
    padding:1vw;
    margin-left:15%;

    padding: 1vw 3vw 1vw 3vw;
}
#where-to-find{
     color: #28639b;
    font-size: 2.5vw;
    margin-top:100px;
    text-align: center;
}
.flex-container4{
    display: flex;
    flex-direction: row;
    position: relative;

    margin:0 0 0 6%;


}
.address{
    position: relative;
    width:30%;
    margin-bottom: 20px;
    margin-left: 280px;
}
#facebook{
    margin-top:50px;
    width:20px;
    height: 30px;
}

#instagram, #email, #web{
    width:30px;
    height: 30px;
}

#map{
    width:120%;
}
@media screen and (max-width: 600px) {
    .flex-container1{
        display: flex;
        flex-direction: column;
        margin-top:7% !important;
        position: relative;
        margin:0 8% 0 6%;
    }
    .flex-container2{
        display: flex;
        flex-direction: column;
        position: relative;
        margin:0 4% 0 6%;
    }

    #org-structure{
        text-align: center;
        color: #28639b;
        font-size:20px;
    }
    .flex-container3{
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .child {
        margin-top: 100px;
        margin-bottom: 160px;
        height: 300px;
        width: 30%;
        margin-left: 20px;
    }
    #where-to-find{
        color: #28639b;
        font-size: 20px;
        margin-top:50px;
        text-align: center;
    }

    .flex-container4{
        display: flex;
        flex-direction: column;

    }
    #map{
        width:75%;
    }
    .address{
        position: absolute;
        width:50%;
        margin-left: 0px;
    }
    #org-history{
        color: #28639b;
        font-size: 20px;
        text-align: center;
    }

    .main-heading{
        font-family: 'Lato', sans-serif;
        color: #28639b;
        font-size: 20px;
        text-align: center;
    }
}